.cartList {
  width: 100%;
  height: 100%;
  display: flex;
  border: 3px solid gainsboro;
  border-radius: 25px 25px 25px 25px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  justify-content: space-between;
}

.cartList img {
  width: 300px;
  border-radius: inherit;
}

.button {
  display: flex;
  width: 600px;
  margin: 150px 100px;
}

.mi {
  background-color: #f9bb00;
  border: yellowgreen;
  border-radius: 40%;
  width: 20px;
  height: 20px;
  font-size: large;
  margin-left: -50PX;
  margin-right: 20px;
}

.pl {
  background-color: #f9bb00;
  border: yellowgreen;
  border-radius: 40%;
  width: 20px;
  height: 20px;
  font-size: large;
}

.qty {
  width: 130px;
  margin-left: 10px;
  margin-right: 10px;
}


.total {
  width: 200px;
  margin-left: 120px;
  font-size: 18px;
}

.del {
  width: 60px;
  height: 40PX;
  margin-left: -10PX;
  margin-right: 20px;
  background-color: black;
  color: aliceblue;
  border: yellowgreen;
  border-radius: 25%;
  font-weight: bold;
}

.order {
  width: 60px;
  height: 40PX;
  margin-left: 40PX;
  margin-right: 30px;
  background-color: #f9bb00;
  color: aliceblue;
  border: yellowgreen;
  border-radius: 25%;
  font-weight: bold;
}