.topMenu {
  width: 50%;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.topMenu li { 
  padding-top: 40px;
  margin: 0 5%;
  font-size: 15px;
  font-weight: bold;
}

.topMenu li a {
  text-decoration: none;
  color: black;
}

.topMenu li a:hover {
  color: #f9bb00;
  transition: 0.5s;
}

.topMenu li a svg{
  position: relative;
  top: -35px;
}

.cartIcon::before p {
  position: relative;
  top: 0px;
  z-index: 110;
}

.qtyBadge {
  position: relative;
  top: 0px;
  background-color: black;
  color: white;
  margin-top: -130px;
  margin-right: 0px;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 0.8rem;
}

@media (max-width: 500px) {
  .topMenu li { 
    font-size: 5px;
  }
}